<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
  
  
  
  <!-- newly added this string -->
    <connectionStrings>
        <add name="SLIIT_ITPM_WE_R_44_V1.Properties.Settings.cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database_we_r_44_v1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <!-- newly added this string -->
  
  
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>